body{
	overflow-x: hidden;
}
.movie {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	resize: none;
}

.movie-content {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.movie-content > div {
    margin:20px;
}

.btn-block{
	width: 25%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #e4e0e0;
	border-radius: 2em;
	height: 3em;
}

#content {
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://www.desktopbackground.org/download/540x960/2014/10/21/843336_horror-movie-backgrounds-wallpapers-zone_2560x1600_h.jpg");
	background-color: #000000;
	font-family: 'Noto Sans JP', sans-serif;
}

#details {
	margin-left: 50px;
}

.footer {
	color: #e4e0e0;
	text-align:right;
	position: fixed;
 	bottom: 20px;
 	right: 20px;
 	width: 100%;
}

h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #e50914;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: #000000 0px 0px 13px;
 }

.github-corner:hover .octo-arm {
  	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

#autoComplete {
  background-position: 98% ;
  height: 48px;
}

#name {
	color: white;
	padding: 1px;
}

h6 {
    margin-bottom: 20px;  
}

@media only screen and (max-width: 650px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
    }
    #details {
		margin-left: 30px;
	}
    #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../static/loader.gif");
		background-size: 40%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}
	.tenor-gif-embed{
		display: none;
	}
	#loader-text {
		vertical-align: middle;
		color:white;
	}

	#autoComplete {
	  background-position: 97% ;
	}
	
	svg[data-toggle=tooltip] {
		width: 50px;
		height: 50px;
	}
	.content h2 {
		color: #fff;
		font-size: 2em;
		position: absolute;
		left: 0;
	}
	.content {
		position: relative;
		transform: translateX(0vh);
		top:0vh;
		font-size: 2em;
	}
}

@media only screen and (max-width: 991px) {
	.modal-body{
		display: block;
	}
	.profile-pic {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
	.content h2 {
		color: #fff;
		font-size: 2em;
		position: absolute;
		left: 0;
	}
	.content {
		position: relative;
		transform: translateX(0vh);
		top:0vh;
		font-size: 2em;
	}
	
	
}
@media only screen and (min-width: 992px) {
	.modal-body {
		display: flex;
	}
	.content h2 {
		color: #fff;
		font-size: 4em;
		position: absolute;
	}
	.content h2 {
		color: #fff;
		font-size: 0.5em;
		position: absolute;
		left: 0;
	}
	.content {
		position: relative;
		transform: translateX(0vh);
		top:0vh;
		font-size: 0.5em;
	}
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
   }

	#mcontent {
		display: flex;
		flex-wrap: nowrap;
	}

	#loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-size: 20%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}
	.tenor-gif-embed{
		transform: translateY(-25vh);
		display: block;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}
	.content {
		position: relative;
		transform: translateX(0vh);
		top:0vh;
		font-size: 2em;
	}
	.content h2 {
		color: #fff;
		font-size: 2em;
		position: absolute;
		left: 0;
	}

}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
}

.card:hover {
	cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style:solid; 
    border-width:1px;
}

.fail {
	display: none;
	color: white;
}



#food_list{
	width: 50vw;
	margin: auto;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}
.autoComplete_result{
	height: 100px;
	border-radius: 1.2em;
	margin-right: 10px;
	margin-left: 0;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
	flex-grow: 1;
	margin: 0;
	
}






























@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
	position: relative;

}

.content h2 {
	color: #fff;
	font-size: 5vw;
	position: absolute;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	transform: translateX(25vw);
	top: -20vh;

	
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #f40343;
}

.content h2:nth-child(2) {
	color: #f40303;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}





































